/*!
 * Start Bootstrap - New Age v5.0.7 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: white;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  transition: all .35s;
}

a:hover, a:focus {
  color: black;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: #555555;
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(18, 18, 18, 0.05);
  background-color: #212121;
  transition: all .35s;
  color: white;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  text-decoration: none;
  color: #03DAC6;
  color: white;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #03DAC6;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: white;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  text-decoration: none;
  color: #000000;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #03DAC6 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #03DAC6;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: #212121;
  }
  #mainNav.datenschutz, #mainNav.impressum {
    background-color: #212121;
  }
  #mainNav .navbar-brand {
    color: #03DAC6;
    font-weight: bold;
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: white;
    font-weight: bold;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #03DAC6;
  }
  #mainNav.navbar-shrink {
    border-color: #212121;
    background-color: #212121;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #03DAC6;
    font-weight: bold;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: white;
    font-weight: bold;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #03DAC6;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #212121;
  background: linear-gradient(to top, #121212, #212121 80%);
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 80px;
  font-weight: 500;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-weight: 500;
    font-size: 100px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.features {
  background-color: #121212;
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(to left, #BB86FC, #03DAC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.other {
  background-color: #121212;
  padding: 10px;
}

section.other a {
  color: #BB86FC;
}

section.other h1 {
  font-size: 40px;
}

section.other h2 {
  font-size: 30px;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/thmhoersaal.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #ff3377;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-github a {
  background-color: #050505;
}

section.contact ul.list-social li.social-github a:hover {
  background-color: black;
}

section.contact ul.list-social li.social-gitlab a {
  background-color: #FC6D26;
}

section.contact ul.list-social li.social-gitlab a:hover {
  background-color: #fc5c0d;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #121212;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 20px;
}

footer ul li a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  color: white;
  text-decoration: none;
}

body {
  background-color: #212121;
}

.bg-primary {
  background: linear-gradient(#121212, #121212);
}

.text-primary {
  color: black;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  border: 1px solid;
  border-color: black;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: black;
  border-color: white;
  background-color: #212121;
}

.btn {
  background-color: #BB86FC;
  border-radius: 300px;
  color: #000000;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  color: black;
  background-color: white;
}

.btn-secondary {
  background-color: #BB86FC;
  border-radius: 300px;
  font-size: 14px;
  border: none;
  color: #000000;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-secondary:hover {
  color: black;
  background-color: white;
}

.btn#joinSession {
  background-color: #03DAC6;
  max-width: 150px;
  border-radius: 300px;
  margin-bottom: 10px;
  color: #000000;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn#joinSession:hover {
  color: black;
  background-color: white;
}

.btn-xl {
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
}
