// Bootstrap overrides for this template
body {

    background-color:$theme-primary;
}
.bg-primary {
    //background: $theme-primary;
    //background: -webkit-linear-gradient($theme-primary, $theme-primary);
    background: linear-gradient($theme-secondary, $theme-secondary);
}

.text-primary {
    color: black;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    border: 1px solid;
    border-color: black;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: black;
        border-color: white;
        background-color: $theme-primary;
    }
}

.btn {
    background-color: $theme-four;
    border-radius: 300px;
    @include alt-font;
    &:hover {
        color: black;
        background-color: white;
    }
}
.btn-secondary {
    background-color: $theme-four;
    border-radius: 300px;
    font-size: 14px;
    border: none;
    @include alt-font;
    &:hover {
        color: black;
        background-color: white;
    }
}
.btn#joinSession {
    background-color: $theme-tertiary;
    max-width: 150px;
    border-radius: 300px;
    margin-bottom: 10px;
    @include alt-font;
    &:hover {
        color: black;
        background-color: white;
    }
}

.btn-xl {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
}
