// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: $theme-primary;
    @include transition-all;
    @include heading-font;
    .navbar-brand {
        text-decoration: none;
        color: $theme-tertiary;
        @include heading-font;
        &:hover,
        &:focus {
            color: $theme-tertiary;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: white;
    }
    .navbar-nav {
        > li {
            > a {
                font-size: 11px;
                text-decoration: none;
                @include alt-font;
                &.active {
                    color: $theme-tertiary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: white;
                &:hover {
                    color: $theme-tertiary;
                }
            }
        }
    }
    @media (min-width: 992px) {
        border-color: transparent;
        background-color: $theme-primary;
        &.datenschutz,
        &.impressum {
            background-color: $theme-primary;
        }
        .navbar-brand {
            color: $theme-tertiary;
            font-weight:bold;
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: white;
            font-weight:bold;
            &:hover {
                color: $theme-tertiary;
            }
        }
        &.navbar-shrink {

            border-color: $theme-primary;
            background-color: $theme-primary;
            .navbar-brand {
                color: $theme-tertiary;
                font-weight:bold;
                &:hover,
                &:focus {
                    color: white;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: white;
                font-weight:bold;
                &:hover {
                    color: $theme-tertiary;
                }
            }
        }
    }
}
