// Styling for the others section
section.other {
    background-color:$theme-secondary;
    padding: 10px;
    a {
    color: $theme-four;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}
