// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #212121;
$theme-secondary:  #121212;
$theme-tertiary:   #03DAC6;
$theme-four:       #BB86FC;

$gray-base:        #000;
$gray-darker:      #121212;
$gray-dark:        #212121;
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$brand-github:		#050505;
$brand-gitlab:	#FC6D26;
$brand-google-plus:	#ff3377;