<button class="close" onclick="hideModal()" style="text-align:left">&times;</button>

<!--        <iframe onlaod="this.height = this.contentWindow.document.body.scrollHeight;"scrolling="no" src="/impressum.html" frameBorder="0"></iframe>-->
<section class="other impressumContent scrollable">
    <div class="container">
        <h1>Impressum</h1>
        »frag.jetzt« wird vom Land Hessen im Rahmen des HMWK -Verbundprojekts »Digital gestütztes Lehren und Lernen in Hessen« (digLL) gefördert.
        <br>
        <a href="https://arsnova.thm.de/blog/wp-content/uploads/2019/09/Projektantrag-DigLL@THM-frag_jetzt.pdf">Projektskizze zu »frag.jetzt«</a>
        </p>
        <h2> Erklärung zur Zugänglichkeit von »frag.jetzt« </h2>
        <p>
            »frag.jetzt« setzt sich für die digitale Zugänglichkeit von Menschen mit Handicaps ein. Wir verbessern kontinuierlich die Benutzerfreundlichkeit für alle und wenden die relevanten Barrierefreiheitsstandards an.
        </p>
        <h2>Konformitätsstatus</h2>
        <p>
            Die <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)
        </a> definieren Anforderungen an Designer und Entwickler, um den Zugang für Menschen mit Behinderungen zu
            verbessern. Es definiert drei Stufen der Konformität: Level A, Level AA und Level AAA. »frag.jetzt« ist
            teilweise konform mit WCAG 2.1 Level AA. Teilkonform bedeutet, dass einige Teile des Inhalts nicht vollständig
            dem Standard für Barrierefreiheit entsprechen.
        </p>

        <h2>Feedback</h2>
        <p>
            Wir freuen uns über Ihr Feedback zur Barrierefreiheit von »frag.jetzt«.
            Bitte lassen Sie es uns wissen, wenn Sie auf Barrieren stoßen:
        </p>
        <p>Telefon: +49 641 309-2450<br>
            Mail: <a href="mailto:klaus.quibeldey-cirkel­@transmit.de">klaus.quibeldey-cirkel­@transmit.de</a></p>
        <h2>Betreiber von »frag.jetzt«</h2>

        <p>Der Betrieb der <a href="https://github.com/thm-projects/frag.jetzt">Open-Source-Webanwendung</a> »frag.jetzt«
            ist eine kostenlose Dienstleistung (»Soft­ware as a Service«) der TransMIT-Gesellschaft für Technologietransfer
            mbH, Projektbereich für mobile An­wen­dun­gen.</p>
        <p>Kerkrader Straße 3<br>
            D-35394 Gießen</p>
        <p>c/o THM<br>
            Fachbereich Mathematik, Naturwissenschaften und Informatik<br>
            Prof. Dr. Klaus Quibeldey-Cirkel<br>
            Lehrstuhl für Softwaretechnik</p>
        <p>Wiesenstraße 14<br>
            D-35390 Gießen</p>
        <p>Telefon: +49 641 309-2450<br>
            Mail: <a href="mailto:klaus.quibeldey-cirkel­@transmit.de">klaus.quibeldey-cirkel­@transmit.de</a></p>
        <p>Sitz der Gesellschaft: Gießen<br>
            Website: www.transmit.de<br>
            Rechtsform: GmbH<br>
            Amtsgericht: Gießen HRB 3036<br>
            USt-IdNr.: DE 188 685 037</p>
        </p>
    </div>
</section>
<button class="close" onclick="hideModal()" style="text-align:right">Close</button>