<button class="close" onclick="hideModal()" style="text-align:left">&times;</button>

<!--        <iframe onlaod="this.height = this.contentWindow.document.body.scrollHeight;"scrolling="no" src="/impressum.html" frameBorder="0"></iframe>-->
<section class="other impressumContent scrollable">
    <div class="container">
        <h1>Imprint</h1>
        »frag.jetzt« is funded by the Federal State of Hessen as part of the HMWK joint project »Digitally supported teaching and learning in the State of Hessen« (digLL).        <br>
        <a href="https://arsnova.thm.de/blog/wp-content/uploads/2019/09/Projektantrag-DigLL@THM-frag_jetzt.pdf">Projektskizze zu »frag.jetzt«</a>
        </p>
        <h2>Accessibility Statement for frag.jetzt</h2>
        <p>
            frag.jetzt is committed to ensuring digital accessibility for people with disabilities. We are continually
            improving the user experience for everyone, and applying the relevant accessibility standards.         </p>
        <h2> Conformance status </h2>
        <p>
            The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)
        </a> defines requirements for designers and developers to improve accessibility for people with disabilities.
            It defines three levels of conformance: Level A, Level AA, and Level AAA.frag.jetzt is partially conformant
            with WCAG 2.1 level AA. Partially conformant means that some parts of the content do not fully conform to
            the accessibility standard.

        </p>

        <h2>Feedback</h2>
        <p>
            We welcome your feedback on the accessibility of frag.jetzt. Please let us know if you encounter
            accessibility barriers on frag.jetzt:
        </p>
        <p> Telephone: +49 641 309-2450<br>
            Mail: <a href="mailto:klaus.quibeldey-cirkel­@transmit.de">klaus.quibeldey-cirkel­@transmit.de</a></p>
        <h2>Contact</h2>

        <p> The operation of the open-source web application »frag.jetzt« is a free service (»Software as a Service«)
            of the TransMIT GmbH, project division for mobile applications.</p>
        <p>Kerkrader Straße 3<br>
            D-35394 Gießen</p>
        <p>c/o THM<br>
            Department of Mathematics, Natural Sciences and Informatics<br>
            Prof. Dr. Klaus Quibeldey-Cirkel<br>
            Professorship for Software Engineering</p>
        <p>Wiesenstraße 14<br>
            D-35390 Gießen<br>
            Germany</p>
        <p>Telephone: +49 641 309-2450<br>
            Mail: <a href="mailto:klaus.quibeldey-cirkel­@transmit.de">klaus.quibeldey-cirkel­@transmit.de</a></p>
        <p> Company headquarters: Gießen<br>
            Website: www.transmit.de<br>
            Legal form: GmbH<br>
            Local court: Gießen HRB 3036<br>
            German VAT no.: DE 188 685 037</p>
        </p>
    </div>
</section>
<button class="close" onclick="hideModal()" style="text-align:right">Close</button>