<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" aria-label="navigation bar">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">frag.jetzt</a>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" onfocus="language('de')" name="options" id="option2" autocomplete="off">
                Deutsch
            </label>
            <label class="btn btn-secondary">
                <input type="radio" onfocus="language('en')" name="options" id="option1" autocomplete="off">
                English
            </label>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menü
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://frag.jetzt/home">Webapp</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 onclick="language('en')" class="mb-1">frag.jetzt</h1>
                    <p style="color:#dddddd">frag.jetzt ist eine Webapp, mit welcher anonym Fragen gestellt und
                        beantwortet werden können.
                        Die App läuft direkt im Browser. Jeder kann eine Sitzung einrichten. Nutzung auch ohne
                        Anmeldung. </p>
                    <form>
                        <input style="margin-bottom:10px" id="roomnumber" type="text" class="col-12 form-control"
                               id="sessionid"
                               placeholder="Sitzungs-Code" maxlength="8" autofocus="autofocus"
                               onfocus="this.select()"
                               aria-label="Sitzungscode">
                        <div class="row" style="padding:0px 10px">
                            <a style="margin:0px 5px" href="#" id="joinSession" onclick="setLink()"
                               class="col-4 btn btn-xl">Beitreten</a>
                            <a style="margin:0px 5px" href="https://frag.jetzt/home" id="createSession"
                               onclick="setLink()" class="col btn btn-xl">Sitzung erstellen</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/frag.jetzt_home.png" class="img-fluid" alt="frag jetzt home">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Anonymes Fragen, für jeden nutzbar.</h2>
            <p>Ideal für Unterricht übers Netz!</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="img/frag.jetzt_session.jpg" class="img-fluid" alt="frag jetzt Raum">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>Mobile First</h3>
                                <p style="color:#dddddd">App ist sowohl für mobile Nutzung als auch für
                                    Desktopcomputer
                                    zugeschnitten!</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-speech text-primary"></i>
                                <h3>Anonym</h3>
                                <p style="color:#dddddd">Zurückhaltende Zuhörer können ohne Scheu fragen!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-camrecorder  text-primary"></i>
                                <h3>Beamer Geeignet</h3>
                                <p style="color:#dddddd">Im Hörsaal das einzig zu diesen Zweck entworfene Theme
                                    verwenden!</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>Bonuspunkte</h3>
                                <p style="color:#dddddd">Vergabe von Bonuspunkten für gute Fragen möglich!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Schluss mit Zögern.<br>Fragen!</h2>
            <a href="https://frag.jetzt/home" style="padding:12px 35px" class="btn btn-xl js-scroll-trigger">Jetzt
                ausprobieren!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
    <div class="container">
        <h2>We
            <i class="fas fa-heart"></i>
            questions!</h2>
        <ul class="list-inline list-social">
            <li class="list-inline-item social-github">
                <a href="https://github.com/thm-projects/frag.jetzt" aria-label="github">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="list-inline-item social-gitlab">
                <a href="https://git.thm.de/arsnova/frag.jetzt" aria-label="gitlab">
                    <i class="fab fa-gitlab"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="container" id="footer">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#footer" onclick="setModalContent('/datenschutz.html'); displayModal();">Datenschutz</a>
            </li>
            <li class="list-inline-item">
                <a href="#footer" onclick="setModalContent('/impressum.html'); displayModal();">Impressum</a>
            </li>
        </ul>
    </div>
</footer>